/* Coolors Exported Palette - coolors.co/89a9f9-a3caff-c9f3ff-bafffa-a5f7bb */


/* HSL */

$color1: hsla(223%, 90%, 76%, 1);
$color2: hsla(215%, 100%, 82%, 1);
$color3: hsla(193%, 100%, 89%, 1);
$color4: hsla(176%, 100%, 86%, 1);
$color5: hsla(136%, 84%, 81%, 1);

/* RGB */

$color1: rgba(137, 169, 249, 1);
$color2: rgba(163, 202, 255, 1);
$color3: rgba(201, 243, 255, 1);
$color4: rgba(186, 255, 250, 1);
$color5: rgba(165, 247, 187, 1);